body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    background-image: url(Star-wars-logo-new-tall\ \(1\).webp);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1, h2 {
    text-align: center;
    color: white;
}
form {
    margin-bottom: 20px;
    text-align: center;
}
label {
    font-weight: bold;
}
input[type="text"] {
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
.actor-info {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.actor-image {
    text-align: center;
    margin-top: 10px;
}
.actor-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
p{
    font-size: 1.5rem;
}